<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:fragment="head(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title th:text="${title}">타이틀</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:fragment="menu">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">스프링 클래스</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/}">홈</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/board/list}">게시판</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">회원용메뉴</a>
              </li>
            </ul>
            <a class="btn btn-primary" th:href="@{/account/login}" sec:authorize="!isAuthenticated()">login</a>
            <form class="d-flex" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
              <span class="text-white" sec:authentication="name">사용자</span>
              <span class="text-white mx-2" sec:authentication="principal.authorities">권한</span>
              <button class="btn btn-outline-secondary" type="submit">Logout</button>
            </form>

          </div>
        </div>
      </nav>

  </body>

</html>